#editor-window {
  height: 50vh;
  width: 50vh/9*16;
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  overflow: hidden;

  float: left;
  background: #4B367C;

  .overlayObject {
    outline: coral 2px solid;
  }
}

.overlay-container {
  height: 50vh;
  width: 50vh/9*16;
  border-radius: 5px;
  position: absolute;
}

.overlay-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.editorForm {
  float: left;
}

mat-form-field {
  margin-right: 15px;
}

.mat-radio-button {
  margin-right: 15px;
  margin-bottom: 15px;
}

#colorPicker, #filePicker {
  height: 50px;
}

#colorPicker {
  width: 39%;
  border: 1.5px solid #dddddd;
  border-radius: 5px;
  margin-bottom: 15px;
  padding-left: 30px;

  transition: all .05s ease;
}

.overlaySubmit {
  float: right;
}

// Test overlay

.overlayObject {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  cursor: pointer;
  user-select: none;

  font-size: 1rem;
  text-align: center;

}

.overlayImage {
  position: relative;
  top: 0;
  left: 0;
  width: 10%;
  float: left;
}

.overlayObjectExisting {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  cursor: pointer;
  user-select: none;

  font-size: 1rem;
  text-align: center;
}

.selected {
  outline: 2px solid #00ffff;
}
