<div class="content">
  <h1>Edit your Overlays</h1>

  <div id="editor-window">
    <div class="overlayObject overlayText" *ngIf="overlayType == 'text'"
         [ngStyle]="{'top.%': posY, 'left.%': posX, 'scale': scale, 'opacity': opacity, 'color': color}">
      {{ overlayText }}
    </div>

    <div class="overlayObject overlayDateTime" *ngIf="overlayType == 'dateTime'"
         [ngStyle]="{'top.%': posY, 'left.%': posX, 'scale': scale, 'opacity': opacity, 'color': color}">
      {{ overlayService.currentDate | date:'yyyy-MM-dd' }} <br>
      {{ overlayService.currentDate | date:'HH:mm:ss' }}
    </div>

    <div class="overlayObject overlayImage" *ngIf="overlayType == 'image'"
         [ngStyle]="{'top.%': posY, 'left.%': posX, 'scale': scale, 'opacity': opacity, 'color': color}">
      image
    </div>
  </div>

  <div class="editorForm">

    <mat-form-field appearance="outline">
      <mat-label>Cam</mat-label>
      <mat-select [(ngModel)]="camId">
        <mat-option *ngFor="let cam of camService.camList" [value]="cam.id">
          {{ cam.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br>

    <mat-radio-group aria-label="Select an option" [(ngModel)]="overlayType">
      <mat-radio-button value="image" color="primary">Image</mat-radio-button>
      <mat-radio-button value="text" color="primary">Text</mat-radio-button>
      <mat-radio-button value="dateTime" color="primary">Date/Time</mat-radio-button>
    </mat-radio-group>

    <br>

    <mat-form-field appearance="outline">
      <mat-label>Position x</mat-label>
      <input matInput [(ngModel)]="posX" type="number">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Position y</mat-label>
      <input matInput [(ngModel)]="posY" type="number">
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline">
      <mat-label>Scale</mat-label>
      <input matInput [(ngModel)]="scale" type="number" step=".1">
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline">
      <mat-label>Opacity</mat-label>
      <input matInput [(ngModel)]="opacity" type="number" step=".1" min="0" max="1">
    </mat-form-field>

    <br>

    <input id="filePicker" type="file" *ngIf="overlayType == 'image'"/>

    <mat-form-field appearance="outline" *ngIf="overlayType == 'text'">
      <mat-label>Text</mat-label>
      <input matInput [(ngModel)]="overlayText" type="text">
    </mat-form-field>

    <br>

    <input id="colorPicker" [(colorPicker)]="color" [style.background]="color" value="{{ color }}"
           *ngIf="overlayType != 'image'">

    <br>

    <button mat-raised-button color="primary" class="overlaySubmit" (click)="saveOverlay()">Save Overlay</button>
  </div>
</div>
