<div *ngIf="!showMultiple" class="live-view-box" style="background-image: url({{ camService.selectedCam.url }})">
  <ng-container *ngFor="let overlayObject of overlayService.overlayList">
    <div class="overlayObject" *ngIf="overlayObject.text != '' && overlayObject.cam.id == camService.selectedCam.id"
         [ngStyle]="{'top.%': overlayObject.y, 'left.%': overlayObject.x, 'scale': overlayObject.scale, 'opacity': overlayObject.opacity, 'color': overlayObject.color}">
      {{ overlayObject.text }}
    </div>
  </ng-container>
</div>

<div *ngIf="showMultiple" class="multiple-live-view-box-wrapper">
  <div *ngFor="let i of [0, 1, 2, 3]" class="multiple-live-view-box"
       style="background-image: url({{ camService.getCamlistUrl(i) }})">

    <ng-container *ngFor="let overlayObject of overlayService.overlayList">
      <div class="overlayObjectSmall" *ngIf="overlayObject.text != '' && overlayObject.cam.id == camService.getCamlistId(i)"
           [ngStyle]="{'top.%': overlayObject.y, 'left.%': overlayObject.x, 'scale': overlayObject.scale, 'opacity': overlayObject.opacity, 'color': overlayObject.color}">
        {{ overlayObject.text }}
      </div>
    </ng-container>
  </div>
</div>

<mat-icon id="scroll-icon" (click)="scrollDown()">settings</mat-icon>

<button mat-icon-button id="change-view" (click)="showMultiple = !showMultiple">
  <mat-icon *ngIf="!showMultiple">grid_on</mat-icon>
  <mat-icon *ngIf="showMultiple">grid_off</mat-icon>
</button>
