#live-view-box {
  width: 100vw;
  height: 100vh;

  background-size: cover;
  background-position: center;
}

#scroll-icon {
  height: 45px;
  cursor: pointer;

  position: absolute;
  right: 5vh;
  top: 5vh;

  transition: all .2s ease;
}

#scroll-icon:hover {
  transform: rotate(45deg);
}
