<div class="content">
  <h1>Select a Cam</h1>

  <button mat-raised-button color="primary" id="addCamButton" (click)="addCam()">Add a Camera</button>

  <div class="camContainer">
<!--    <div class="camSelector" *ngFor="let cam of camService.camList">-->
<!--      <div class="camName">{{ cam.name }}</div>-->
<!--      <div class="camDesc">{{ cam.description }}</div>-->

<!--      <div id="camButtons">-->
<!--        <div class="camButton" id="camView" (click)="changeCam(cam)">View</div>-->
<!--        <div class="camButton" id="camMotionDetection">MD</div>-->
<!--        <div class="camButton" id="camEdit" (click)="editCam(cam)">Edit</div>-->
<!--        <div class="camButton" id="camDelete" (click)="deleteCam(cam.id)">Delete</div>-->
<!--      </div>-->
<!--    </div>-->

    <mat-card *ngFor="let cam of camService.camList">
      <mat-card-title-group>
        <mat-card-title>{{ cam.name }}</mat-card-title>
        <mat-card-subtitle>{{ cam.url }}</mat-card-subtitle>
      </mat-card-title-group>

      <mat-card-content>{{ cam.description }}</mat-card-content>

      <mat-card-actions>
        <button mat-raised-button (click)="changeCam(cam); camService.scrollToTop()">View</button>
        <button mat-raised-button [color]="cam.motionDetection ? 'warn' : ''" (click)="toggleMotionDetection(cam)">MD</button>
        <button mat-raised-button color="accent" (click)="editCam(cam)">Edit</button>
        <button mat-raised-button color="warn" (click)="deleteCam(cam.id)">Delete</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <app-cam-popup *ngIf="camService.showPopup"></app-cam-popup>
</div>
