* {
    padding: 0;
    margin: 0;

    color: #eeeeee;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

body {
    overflow: hidden;
}

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.5em;
}

p {
    font-size: .75em;
    color: #cccccc;
}

#top-bar {
    width: 100vw;
    height: 8vh;
    position: absolute;
    top: 0;
    left: 0;

    background: #4B367C;
}

#done-button {
    background: #2C2541;
    width: 6vw;
    height: 6vh;
    margin-top: 1vh;
    line-height: 6vh;
    text-align: center;
    border-radius: .1rem;
    cursor: pointer;
    user-select: none;

    position: relative;
    left: 93vw;

    transition: all .1s ease-in-out;
}

#done-button-text {
    color: #EBE3FF;
    font-weight: normal;
    text-decoration: none;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

#navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 15vw;
    height: 100vh;
    background: #19171C;
    z-index: 600;
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.3);
}

#nav-wrapper {
    height: 90vh;
    width: 80%;
    margin: 5vh 10%;
}

#setting-wrapper {
    max-height: 90%;
    width: 100%;
    margin-top: 3vh;

    overflow-y: auto;
}

.setting {
    padding: 5%;
    margin: 2vh 0;
    width: 90%;
    height: auto;
    background: #2C2541;
    cursor: pointer;
    border-radius: .1rem;
    font-size: 85%;

    transition: all .1s ease;
}

.active-setting {
    background: #4B387A;
}

.setting-page {
    width: 85vw;
    height: 92vh;
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
}

#dashboard {
    display: block;
}

.setting-page-wrapper {
    width: 94%;
    height: 90%;
    margin: 3%;
}

.page-headline {
    color: #19171C;
}

#overlay-wrapper {
    display: flex;
    flex-direction: row;
}

#place-image-preview {
    background: #EBE3FF;
    width: 50vw;
    height: 28.125vw;
    margin-top: 5vh;
    user-select: none;
    position: relative;
}

#channel-overlay .page-headline {
    display: inline-block;
}

select {
    color: black;
}

option {
    color: black;
}

#selected-channel {
    position: absolute;
    color: black;
}

#overlay-properties {
    width: 30vw;
    margin-top: 5vh;
}

.overlay-object {
    cursor: move;
    position: absolute;
    top: 0%;
    left: 0%;
    display: inline;
    overflow: visible;
}

.text-object {
    user-select: none;
    font-size: 1vw;
}

.text-object > span {
    color: black;
    pointer-events: none;
}

.selection-box {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    outline: lightseagreen solid 2px;
    opacity: 0;
    pointer-events: none;
    transform: scale(1) !important;

    transition: 0.2s;
}

.selected {
    opacity: 1;
}

input {
    color: black;
}

label {
    color: black;
}