* {
    padding: 0;
    margin: 0;

    color: #eeeeee;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

body {
    overflow: auto;
}

h1 {
    font-size: 2.25em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.25em;
}

p {
    font-size: .75em;
    color: #eeeeee;
}

button {
    color: black;
}

#top-bar {
    width: 100vw;
    height: 8vh;
    position: absolute;
    top: 0;
    left: 0;

    background: #4B367C;
}

#done-button {
    background: #2C2541;
    width: 6vw;
    height: 6vh;
    margin-top: 1vh;
    line-height: 6vh;
    text-align: center;
    border-radius: .1rem;
    cursor: pointer;
    user-select: none;

    position: relative;
    left: 93vw;

    transition: all .1s ease-in-out;
}

#done-button-text {
    color: #EBE3FF;
    font-weight: normal;
    text-decoration: none;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

#navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 15vw;
    height: 100vh;
    background: #19171C;
    z-index: 600;
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.3);
}

#nav-wrapper {
    height: 90vh;
    width: 80%;
    margin: 5vh 10%;
}

#setting-wrapper {
    max-height: 90%;
    width: 100%;
    margin-top: 3vh;

    overflow-y: auto;
}

#settings-headline {
    font-size: 1.75em;
}

.setting {
    padding: 5%;
    margin: 2vh 0;
    width: 90%;
    height: auto;
    background: #2C2541;
    cursor: pointer;
    border-radius: .1rem;
    font-size: 85%;

    transition: all .1s ease;
}

.active-setting {
    background: #4B387A;
}

.setting-page {
    width: 85vw;
    height: 92vh;
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
}

#dashboard {
    display: block;
}

.setting-page-wrapper {
    width: 94%;
    height: 90%;
    margin: 3%;
}

.page-headline {
    color: #19171C;
}

#overlay-wrapper {
    display: flex;
    flex-direction: row;
}

#place-image-preview {
    background: #EBE3FF;
    width: 50vw;
    height: 28.125vw;
    margin-top: 3vh;
    user-select: none;
    position: relative;
}

#channel-overlay .page-headline {
    display: inline-block;
}

#channel-select {
    margin-top: 3vh;
}

select {
    color: black;
}

option {
    color: black;
}

#selected-channel-wrapper {
    position: absolute;
    top: 75vh;
}

#selected-channel-label {
    margin-top: 2vh;
    color: black;
    font-weight: lighter;
}

#selected-channel {
    color: black;
    margin-top: 1vh;
}

#overlay-properties {
    width: 30vw;
    margin: 3vh 0 0 2vw;
}

.overlay-object {
    cursor: move;
    position: absolute;
    top: 0%;
    left: 0%;
    display: inline;
    overflow: visible;
}

.text-object, .date-time-object {
    user-select: none;
    font-size: 1vw;
}

.text-object > span, .date-time-object > span {
    color: black;
    pointer-events: none;
    text-align: center;
    display: block;
}


.image-object {
    width: 10%;
}

.image-object > img {
    pointer-events: none;
    width: 100%;
}

.selection-box {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    outline: lightseagreen solid 2px;
    opacity: 0;
    pointer-events: none;
    transform: scale(1) !important;

    transition: 0.2s;
}

.selected {
    opacity: 1;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5vw;
}

label {
    order: 1;
    color: #2C2541;
    font-weight: bold;
    margin-left: 3px;
}

input, textarea {
    order: 2;
    color: black;
    margin-top: .5vh;
    margin-bottom: 1vh;
    margin-left: 1px;

    background: none;
    border-radius: 3px;

    transition: all .2s ease;
}

input[type='text'] {
    width: 30%;
}

input:not([type='color']):not([type='file']):not([type='range']), textarea {
    border: 1px solid #EBE3FF;
    padding: .5vh;
    background: rgba(235, 227, 255, .3);
}

input[type='number'] {
    width: 20%;
}

input:not([type='color']):not([type='file']):enabled, textarea:enabled {
    outline-color: #2C2541;
}

input:not([type='color']):not([type='file']):enabled:hover, textarea:enabled:hover {
    border-color: #4B367C;
    background: rgba(235, 227, 255, .7);
}

input[type=range] {
    -webkit-appearance: none;
    width: 50%;
    background: transparent;
}
  
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}
  
input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    height: 16px;
    width: 16px;
    background: #4B367C;
    border-radius: 50%;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    background: #EBE3FF;
    border-radius: 8px;
}

input[type=color]{
	width: 2vw;
    height: 2vw;
    border-radius: 100%;
    border: none;
    outline: none;
}

input[type='color']:enabled:hover {
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type="color"]::-webkit-color-swatch {
	border: solid 3px #4B387A;
	border-radius: 2vw;
}

button, select {
    border: none;
    background: #4B367C;
    color: #EBE3FF;
    padding: 1vh;
    font-size: .9em;
    font-weight: bolder;
    outline: none;
    border-radius: 5px;
}

option {
    color: white;
}

input:disabled, textarea:disabled, button:disabled, select:disabled {
    display: none;
}

input:disabled~label {
    display: none;
}



button:enabled:hover, select:enabled:hover {
    cursor: pointer;
}

button:enabled {
    transition: all .2s ease;
}

button:enabled:active {
    transform: scale(.9);
}

#delete-object-button {
    background: #DD494D;
    color: white;
    font-size: 1em;
    width: 20%;
}

#save-objects-button {
    background: rgb(114, 202, 145);
    color: white;
    font-size: 1em;
    margin-left: 3%;
    width: 20%;
}

#image-input {
    color: transparent;
}

#image-input::-webkit-file-upload-button {
    visibility: hidden;
}

#image-input::before {
    content: 'Select an image';
    color: #e3e3e3;
    font-weight: bolder;
    display: inline-block;
    background: #4B387A;
    border: none;
    border-radius: 5px;
    padding: 1vh;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    transition: all .2s ease;
}

#image-input:active, #image-input:focus {
    outline: 0;
}

#image-input:enabled:active::before {
    transform: scale(.9);
}

#image-input:disabled:hover::before {
    cursor: default;
}

.sub-headline {
    margin-top: 2.5vh;
    color: #4B367C;
}

ol {
    list-style-position: inside;
    height: 75%;
    overflow-y: scroll;
}

.tutorial-li {
    margin-top: 2.5vh;
    color: #4B367C;
    font-weight: bolder;
}

.tutorial-text {
    color: #19171C;
    font-size: 1em;
    margin-top: 1vh;
    line-height: 150%;
}

b {
    color: #4B367C;
}

#token-input-wrapper {
    width: 25%;
    font-size: 1.25em;
}