* {
    padding: 0;
    margin: 0;

    color: #eeeeee;
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow: hidden;
}

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.5em;
}

p {
    font-size: .75em;
    color: #cccccc;
}

#browserVideo, #staticImage {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    transition: all .3s ease;
}

#browserVideo {
    opacity: 0;
    transition: 0.3s;
}

.tutorialImage {
    position: absolute;
    z-index: 500;
    height: auto;
    width: 15vw;
    transition: all .3s ease;
}

#furtherConfigurations {
    top: 8vh;
    left: 0;
    margin-left: 2vw;
}

#addOrSelectChannel {
    top: 50vh;
    left: 82vw;
}

#fForFullscreen {
    top: 80vh;
    left: 5vw;
}

#configLink {
    position: absolute;
    top: 2vh;
    left: 2vh;
}

#configIcon {
    height: 4vh;
    width: auto;

    transition: all .1s ease-in-out;
}

#configIcon:hover {
    transform: rotate(60deg);
}

#channelSelectionIndicator {
    position: absolute;
    top: 50vh;
    right: -1.5vw;
    transform: translate(0, -50%);
    background: #19171C;
    z-index: 750;
    cursor: pointer;
    box-shadow: -15px 0 20px -10px rgba(0, 0, 0, 0.3);

    height: 5vw;
    width: 4vw;
    border-bottom-left-radius: 5vw;
    border-top-left-radius: 5vw;

    transition: all .3s ease;
}

#openArrow {
    height: 3vw;
    width: auto;
    margin: 1vw;
    position: relative;
    right: .75vw;

    transition: all .3s ease;
}

#channelSelection {
    height: 100vh;
    width: 20vw;
    background: #19171C;
    position: absolute;
    top: 0;
    right: -20vw;
    z-index: 600;
    box-shadow: -10px 0 20px rgba(0, 0, 0, 0.3);

    transition: all .3s ease;
}

#ChannelSelectionWrapper {
    height: 90vh;
    width: 80%;
    margin: 5vh 10%;
}

#channelWrapper {
    max-height: 90%;
    width: 100%;
    margin-top: 3vh;

    overflow-y: auto;
}

.channel {
    padding: 5%;
    margin: 2vh 0;
    width: 90%;
    height: auto;
    background: rgb(76, 60, 121);
    cursor: pointer;
    border-radius: .2rem;
    overflow: hidden;
    position: relative;
    z-index: 5;
    box-shadow: 0 .5vh 0 0 rgba(12, 8, 37, 0.5);
    border-left: solid 0 rgb(255, 58, 91);
    box-sizing: border-box;

    transition: all .1s ease;
}

.channel:hover {
    transform: translateY(-.5vh);
    box-shadow: 0 1vh 0 0 rgba(12, 8, 37, 0.5);
}

/* .channel:active {
    transform: translateY(0);
    box-shadow: none;
} */

.surveillance-mode {
    border-left: solid 3px rgb(255, 58, 91);
    padding-left: -3px;
}

.activeChannel {
    background: rgb(112, 85, 185);
}

.channelDescription {
    margin-top: .5vh;
}

#addChannelButton {
    background: rgb(76, 60, 121);
    width: 8vh;
    height: 8vh;
    line-height: 8vh;
    text-align: center;
    font-size: 2em;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;

    position: relative;
    left: 50%;
    transform: translate(-50%, 0);

    box-shadow: 0 .9vh 0 0 rgba(12, 8, 37, 0.5);
    transition: all .1s ease-in-out;
}

#addChannelButton:hover {
    box-shadow: 0 .5vh 0 0 rgba(12, 8, 37, 0.5);
    transform: translate(-50%, .4vh);
}

#addChannelButton:active {
    box-shadow: 0 0 0 0 rgba(12, 8, 37, 0.5);
    transform: translate(-50%, .9vh);
}

#addChannelBox, #editChannelBox {
    z-index: 10;
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%) scale(0);

    height: 60vh;
    width: 27.5vw;
    background: rgba(25, 23, 28, 0.98);
    border-radius: 1rem;

    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.65);

    padding: 5vh;

    transition: 0.2s;
}

form {
    height: 100%;
}

#addChannelHeadline {
    margin-bottom: 5%;
}

.channelInputLabel {
    display: inline-block;
    margin: 5% 0 2% 3%;
}

.addChannelInput {
    width: 90%;
    height: 10%;

    border: none;
    background: rgba(44, 37, 65, 0.8);

    border-radius: 2rem;

    padding: 0 5%;
    font-size: 100%;
}

.addChannelInput:focus {
    outline: 0;
}

.controllButton {
    float: right;
    height: 10%;
    margin: 10% 0 0 5%;
    padding: 0 2.5%;
    min-width: 20%;
    font-size: 125%;
    font-weight: bold;

    border-radius: .5rem;
    border: none;

    transition: 0.2s;
}

.controllButton:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.deleteControllButton {
    margin: 15% 0 0 5%;
    padding: 5%;
    font-size: 150%;

    border-radius: .5rem;
    border: none;

    transition: 0.2s;
}

.deleteControllButton:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#cancel, #cancelEdit {
    background: #2C2541;
}

#save, #saveEdit {
    background: rgb(114, 202, 145);
    color: #2C2541;
}

#saveDelete {
    background: rgb(231, 88, 100);
}

#cancelDelete {
    background: #2C2541;
}

#cancel:focus, #cancelEdit:focus, #cancelDelete:focus, #save:focus, #saveEdit:focus, #saveDelete:focus {
    outline: 0;
}

.error-popup {
    position: absolute;
    top: 2vw;
    right: -50vw;

    opacity: 0;
    background-color: rgb(118, 97, 170);
    padding: 1vw;
    border-radius: 10px;
    color: white;
    font-size: 1.5vw;
    font-weight: bold;
    z-index: 100;

    animation: error-popup-animation 3s ease-in-out;
}

@keyframes error-popup-animation {
    0%{
        right: -20vw;
        opacity: 0;
    }
    15%{
        right: -20vw;
        opacity: 0;
    }
    20%{
        right: 2vw;
        opacity: 1;
    }
    95%{
        right: 2vw;
        opacity: 1;
    }
    100%{
        right: -20vw;
        opacity: 0;
    }
}

.channelControlIcon {
    position: absolute;
    width: 7.5%;
    right: 5%;
    top: 50%;
    transition: 0.3s;
    opacity: 0;
    z-index: 100;
}

.channelControlIcon:nth-child(odd) {
    transform: translateY(20%);
}

.channelControlIcon:nth-child(even) {
    transform: translateY(-120%);
}

.channelControlIcon:nth-child(odd):hover {
    transform: translateY(20%) scale(1.2);
}

.channelControlIcon:nth-child(even):hover {
    transform: translateY(-120%) scale(1.2);
}

.not-recording {
    filter: brightness(0.5);
}

.recording {
    filter: brightness(1);
}


#editChannelBox > form {
    position: relative;
}   

#editChannelBox > form > #deleteChannelButton {
    width: 10%;
    position: relative;
    top: 8%;
    transform: scale(1);
    cursor: pointer;
    opacity: .9;
    transition: 0.3s;
}   

#editChannelBox > form > #deleteChannelButton:hover {
    transform: scale(1.1);
    opacity: 1;
}   

#deleteChannelVerifyBox {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);

    height: 15vh;
    width: 15vw;
    background: rgba(25, 23, 28, 0.98);
    border-radius: 1rem;
    text-align: center;

    box-shadow: 0 7px 15px rgba(0,0,0,0.65);

    padding: 5vh;

    transition: 0.2s;
}

#overlay-wrapper{
    z-index: 2;
    position: absolute;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

.overlay-object {
    position: absolute;
}

.text-object, .date-time-object {
    user-select: none;
    font-size: 2vw;
}

.text-object > span, .date-time-object > span {
    color: black;
    pointer-events: none;
    text-align: center;
    display: block;
}

.image-object {
    width: 10%;
}

.image-object > img {
    width: 100%;
}