* {
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
}

#browserVideo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
}

#channelSelectionIndicator {
    position: absolute;
    top: 50vh;
    right: 0;
    transform: translate(0, -50%);
    background: #333333;

    height: 10vh;
    width: 5vh;
    border-bottom-left-radius: 10vh;
    border-top-left-radius: 10vh;
}

#openArrow {
    height: 6vh;
    margin: 2vh;
    position: relative;
    right: .75vw;
    width: auto;
}

#channelSelection {
    height: 100vh;
    width: 20vw;
    background: #333333;
    position: absolute;
    top: 0;
    right: -20vw;
}