.cam {
  height: 350px;
}

mat-card {
  width: 300px;
  float: left;
}

h2 {
  width: 100%;
}

.recContainer {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1rem;
}