<div>
  <form [formGroup]="camForm" class="popup centerXY">
    <h2 class="formHeadline formElement">Add/Edit your Cam!</h2>

    <mat-form-field appearance="outline" class="formElement">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="outline" class="formElement">
      <mat-label>Description</mat-label>
      <input matInput type="text" formControlName="description">
    </mat-form-field>

    <mat-form-field appearance="outline" class="formElement">
      <mat-label>Url</mat-label>
      <input matInput type="text" formControlName="url">
    </mat-form-field>

    <button mat-raised-button color="warn" id="formCancel" class="formElement" (click)="this.camService.showPopup = false">Cancel</button>
    <button mat-raised-button color="primary" type="submit" id="formSubmit" class="formElement" (click)="onSubmit()" [disabled]="!camForm.valid || !camForm.dirty">Save</button>
  </form>

</div>
