// just a placeholder for content
#navBar {
  width: 100vw;
  height: 10vh;

  background: #4B367C;
  border-bottom: 1vh solid #2C2541;
}

#logo {
  margin: 2vh 5vw 0 10vw;
  height: 6vh;
  float: left;
}

.headerLink {
  float: left;
  //color: white;
  text-decoration: none;
  line-height: 5vh;
  margin: 2.5vh 1vw;
}

.headerLink:hover {
  //border-bottom: 1px solid white;
}

#backToTopButton {
  position: fixed;
  top: 90vh;
  left: 90vw;
}
